@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="jumoText">Empires University</h1>
    <p class="jumoText">Empires University is one of the best university of the world</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Campus</h2>
        <p>
            We have well sophisticated and greenish campus. It is one of the best campus in the town. The campus is divided 
            into three different sections. The front, middle and back part.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Our libraries</h2>
        <p> We have well sophisticated and greenish campus. It is one of the best campus in the town. The campus is divided
            into three different sections. The front, middle and back part.</p>
      
    </div>
    <div class="col-md-4">
        <h2>Our ClassRooms</h2>
        <p> We have well sophisticated and greenish campus. It is one of the best campus in the town. The campus is divided
            into three different sections. The front, middle and back part.</p>
        
    </div>
</div>